.mat-dialog-title {
	margin: 0 !important;
}

.mat-dialog-container {
	border-radius: 8px !important;
}

.mat-dialog-content {
	padding: 0 !important;
}

.mat-dialog-actions {
	padding: 0 !important;
	margin: 0 !important;
}

mat-select {
	width: 10rem !important;
}

