<form [formGroup]="form">

    <h3>{{step}}. {{ "page.signup.contact-info" | translate }}</h3>

    <div class="alert alert-danger" role="alert" *ngIf="errMessage">
        {{ errMessage }}
    </div>

    <div class="w-100 fields-block mb-3">
        <!-- email -->

        <div class="floating-label w-100" [class.has-value]="form.get('email').value">
            <label>{{ "page.signup.your-email" | translate }}</label>
            <input type="email" class="form-control" formControlName="email" (blur)="emailInputMoved(true)" (focus)="emailInputMoved(false)"/>
        </div>
        <ng-container *ngFor="let error of error_messages.email">
            <div class="text-danger small"  *ngIf=" form.get('email').hasError(error.type) && (form.get('email').dirty || form.get('email').touched) && emailMoved">
                {{ error.message | translate }}
            </div>
        </ng-container>

        <!-- phoneNumber -->
        <div class="floating-label w-100 is-focused has-value">
            <div class="d-flex align-items-center position-relative">
                <app-country-flag-picker
                    class="position-absolute"
                    [selectedCountryCode]="selectedCountryCode"
                    [countryCodes]="countryCodes"
                    [customLabels]="customLabels"
                    (changedCountryCode)="changedCountryCode($event)"
                    >
                </app-country-flag-picker>
                <input type="tel" mask="(000) 000-0000" [prefix]="prefix" [showMaskTyped]="true" class="form-control" formControlName="phoneNumber"  />
            </div>
        </div>
        <ng-container *ngFor="let error of error_messages.phoneNumber">
            <div class="text-danger small"
                *ngIf="form.get('phoneNumber').value.length === 11 && form.get('phoneNumber').hasError(error.type) && (form.get('phoneNumber').dirty || form.get('phoneNumber').touched)">
                {{ error.message | translate }}
            </div>
        </ng-container>

        <!-- password -->
        <div class="floating-label w-100" [class.has-value]="form.get('password').value">
            <label>{{ "page.signup.your-password" | translate }}</label>
            <div class="input-field-icon">
                <!--Eye image  -->
                <img
                    src="assets/icons/footer/eye.svg"
                    alt="eye.svg"
                    *ngIf="passwordType == 'password'"
                    (click)="passwordShow('text')"
                />
                <img
                    src="assets/icons/footer/eye_active.svg"
                    alt="eye_active.svg"
                    *ngIf="passwordType == 'text'"
                    (click)="passwordShow('password')"
                />
            </div>
            <input [type]="passwordType" class="form-control" formControlName="password" (blur)="passwordMoved(true)" (focus)="passwordMoved(false)"/>
        </div>
        <ng-container *ngFor="let error of error_messages.password">
            <div class="text-danger small"  *ngIf="form.get('password').hasError(error.type) && (form.get('password').dirty || form.get('password').touched) && passMoved">
                {{ error.message | translate }}
            </div>
        </ng-container>

        <div class="floating-label w-100" [class.has-value]="form.get('confirmPassword').value">
            <label>{{ "page.signup.confirm-password" | translate }}</label>
            <div class="input-field-icon">
                <!--Eye image  -->
                <img
                    src="assets/icons/footer/eye.svg"
                    alt="eye.svg"
                    *ngIf="conformPasswordType == 'password'"
                    (click)="conformPasswordShow('text')"
                />
                <img
                    src="assets/icons/footer/eye_active.svg"
                    alt="eye_active.svg"
                    *ngIf="conformPasswordType == 'text'"
                    (click)="conformPasswordShow('password')"
                />
            </div>
            <input [type]="conformPasswordType" class="form-control" formControlName="confirmPassword" (blur)="confirmMoved(true)" (focus)="confirmMoved(false)"/>
        </div>
        <ng-container *ngFor="let error of error_messages.confirmPassword">
            <div class="text-danger small"  *ngIf="form.get('confirmPassword').hasError(error.type) && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)  && confirmPassMoved && confirmPasswordEmpty">
                {{ error.message | translate }}
            </div>
        </ng-container>

        <div class="text-danger small" *ngIf="(form.get('confirmPassword').dirty || form.get('confirmPassword').touched) && !password(form) && !confirmPasswordEmpty">
            {{ "page.signup.password-not-match" | translate }}
        </div>
    </div>

</form>
