:host {
    .header-content {
        height: 5rem;
        background-color:#5CB09F;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-click-content {
        position: absolute;
        width: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .step {
                width: 1.42rem;
                height: 1.42rem;
            }
        }
    }
}