<div class="header-content">
    <div  #headerContent>
        <div [class.d-none]="total !== 3">
            <img [class.d-none]="step !== 1" src="assets/images/signup/step1.png" />
            <img [class.d-none]="step !== 2" src="assets/images/signup/step2.png" />
            <img [class.d-none]="step !== 3" src="assets/images/signup/step3.png" />
        </div>
        <div [class.d-none]="total !== 2">
            <img [class.d-none]="step !== 1" src="assets/images/signup/step1-2.png" />
            <img [class.d-none]="step !== 2" src="assets/images/signup/step2-2.png" />
        </div>
    </div>
 
</div>

<div class="header-click-content" >
    <div [style.width.px]="headerWidth">
        <ng-container *ngIf="total === 3">
            <div class="step" (click)="back(1)"></div>
            <div class="step" (click)="back(2)"></div>
            <div class="step"></div>
        </ng-container>
        <ng-container *ngIf="total === 2">
            <div class="step" (click)="back(1)"></div>
            <div class="step"></div>
        </ng-container>
    </div>
</div>