@import "../../../assets/scss/mixin";
@import "../../../assets/scss/variables.scss";

:host {
    .root {
      height: auto;
      display: flex;
      flex-direction: column;
    }

    .content {
        height: calc(100vh - 5rem) !important;
        overflow-y: scroll;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem 0 2rem;

        .controls {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 12px;
            margin-bottom: 12px;
        }

        .footer-buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .cancel {
                text-align: center;
                color: #666;
                height: 1.5rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                text-transform: uppercase;
            }
        }

    }

    app-forgot-step1,
    app-step3,
    app-forgot-step3 {
        width: 100%;

        ::ng-deep {
            width: 100%;

            h3 {
                font-weight: bold;
            }

            .fields-block {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;

                .floating-label {
                    &.has-value,
                    &.is-focused {
                        padding-top: 1rem;
                    }
                }

                .select {
                    height: 7rem;
                    padding-bottom: 1.5rem;
                    display: flex;
                    align-items: center;
                }

                .select {
                    label {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        line-height: 3rem;

                        select {
                            height: 3em;
                            width: 6rem;
                            background-color: white;
                            border: 1px solid #aaa;
                        }
                    }
                }
            }
        }
    }

}
