.mrex-green.lighten-5 {
  color : #7DD4C3 !important;
}

.bg-mrex-green.bg-lighten-5 {
  background-color : #7DD4C3 !important;
}
.bg-mrex-green.bg-lighten-5.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(125, 212, 195, 0.6);
  box-shadow : 0 1px 20px 1px rgba(125, 212, 195, 0.6);
}

.btn-mrex-green.btn-lighten-5 {
  border-color : #277868 !important;
  background-color : #7DD4C3 !important;
}
.btn-mrex-green.btn-lighten-5:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-lighten-5:focus, .btn-mrex-green.btn-lighten-5:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-lighten-5 {
  border-color : #7DD4C3 !important;
  color : #7DD4C3 !important;
}
.btn-outline-mrex-green.btn-outline-lighten-5:hover {
  background-color : #7DD4C3 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #7DD4C3 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #7DD4C3 !important;
}

.border-mrex-green.border-lighten-5 {
  border : 1px solid #7DD4C3 !important;
}

.border-top-mrex-green.border-top-lighten-5 {
  border-top : 1px solid #7DD4C3 !important;
}

.border-bottom-mrex-green.border-bottom-lighten-5 {
  border-bottom : 1px solid #7DD4C3 !important;
}

.border-left-mrex-green.border-left-lighten-5 {
  border-left : 1px solid #7DD4C3 !important;
}

.border-right-mrex-green.border-right-lighten-5 {
  border-right : 1px solid #7DD4C3 !important;
}

.overlay-mrex-green.overlay-lighten-5 {
  background : #7DD4C3;
  /* The Fallback */
  background : rgba(125, 212, 195, 0.8);
}

.mrex-green.lighten-4 {
  color : #6ACEBA !important;
}

.bg-mrex-green.bg-lighten-4 {
  background-color : #6ACEBA !important;
}
.bg-mrex-green.bg-lighten-4.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(106, 206, 186, 0.6);
  box-shadow : 0 1px 20px 1px rgba(106, 206, 186, 0.6);
}

.btn-mrex-green.btn-lighten-4 {
  border-color : #277868 !important;
  background-color : #6ACEBA !important;
}
.btn-mrex-green.btn-lighten-4:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-lighten-4:focus, .btn-mrex-green.btn-lighten-4:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-lighten-4 {
  border-color : #6ACEBA !important;
  color : #6ACEBA !important;
}
.btn-outline-mrex-green.btn-outline-lighten-4:hover {
  background-color : #6ACEBA !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #6ACEBA !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #6ACEBA !important;
}

.border-mrex-green.border-lighten-4 {
  border : 1px solid #6ACEBA !important;
}

.border-top-mrex-green.border-top-lighten-4 {
  border-top : 1px solid #6ACEBA !important;
}

.border-bottom-mrex-green.border-bottom-lighten-4 {
  border-bottom : 1px solid #6ACEBA !important;
}

.border-left-mrex-green.border-left-lighten-4 {
  border-left : 1px solid #6ACEBA !important;
}

.border-right-mrex-green.border-right-lighten-4 {
  border-right : 1px solid #6ACEBA !important;
}

.overlay-mrex-green.overlay-lighten-4 {
  background : #6ACEBA;
  /* The Fallback */
  background : rgba(106, 206, 186, 0.8);
}

.mrex-green.lighten-3 {
  color : #57C8B1 !important;
}

.bg-mrex-green.bg-lighten-3 {
  background-color : #57C8B1 !important;
}
.bg-mrex-green.bg-lighten-3.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(87, 200, 177, 0.6);
  box-shadow : 0 1px 20px 1px rgba(87, 200, 177, 0.6);
}

.btn-mrex-green.btn-lighten-3 {
  border-color : #277868 !important;
  background-color : #57C8B1 !important;
}
.btn-mrex-green.btn-lighten-3:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-lighten-3:focus, .btn-mrex-green.btn-lighten-3:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-lighten-3 {
  border-color : #57C8B1 !important;
  color : #57C8B1 !important;
}
.btn-outline-mrex-green.btn-outline-lighten-3:hover {
  background-color : #57C8B1 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #57C8B1 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #57C8B1 !important;
}

.border-mrex-green.border-lighten-3 {
  border : 1px solid #57C8B1 !important;
}

.border-top-mrex-green.border-top-lighten-3 {
  border-top : 1px solid #57C8B1 !important;
}

.border-bottom-mrex-green.border-bottom-lighten-3 {
  border-bottom : 1px solid #57C8B1 !important;
}

.border-left-mrex-green.border-left-lighten-3 {
  border-left : 1px solid #57C8B1 !important;
}

.border-right-mrex-green.border-right-lighten-3 {
  border-right : 1px solid #57C8B1 !important;
}

.overlay-mrex-green.overlay-lighten-3 {
  background : #57C8B1;
  /* The Fallback */
  background : rgba(87, 200, 177, 0.8);
}

.mrex-green.lighten-2 {
  color : #44C1A8 !important;
}

.bg-mrex-green.bg-lighten-2 {
  background-color : #44C1A8 !important;
}
.bg-mrex-green.bg-lighten-2.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(68, 193, 168, 0.6);
  box-shadow : 0 1px 20px 1px rgba(68, 193, 168, 0.6);
}

.btn-mrex-green.btn-lighten-2 {
  border-color : #277868 !important;
  background-color : #44C1A8 !important;
}
.btn-mrex-green.btn-lighten-2:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-lighten-2:focus, .btn-mrex-green.btn-lighten-2:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-lighten-2 {
  border-color : #44C1A8 !important;
  color : #44C1A8 !important;
}
.btn-outline-mrex-green.btn-outline-lighten-2:hover {
  background-color : #44C1A8 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #44C1A8 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #44C1A8 !important;
}

.border-mrex-green.border-lighten-2 {
  border : 1px solid #44C1A8 !important;
}

.border-top-mrex-green.border-top-lighten-2 {
  border-top : 1px solid #44C1A8 !important;
}

.border-bottom-mrex-green.border-bottom-lighten-2 {
  border-bottom : 1px solid #44C1A8 !important;
}

.border-left-mrex-green.border-left-lighten-2 {
  border-left : 1px solid #44C1A8 !important;
}

.border-right-mrex-green.border-right-lighten-2 {
  border-right : 1px solid #44C1A8 !important;
}

.overlay-mrex-green.overlay-lighten-2 {
  background : #44C1A8;
  /* The Fallback */
  background : rgba(68, 193, 168, 0.8);
}

.mrex-green.lighten-1 {
  color : #3AB19A !important;
}

.bg-mrex-green.bg-lighten-1 {
  background-color : #3AB19A !important;
}
.bg-mrex-green.bg-lighten-1.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(58, 177, 154, 0.6);
  box-shadow : 0 1px 20px 1px rgba(58, 177, 154, 0.6);
}

.btn-mrex-green.btn-lighten-1 {
  border-color : #277868 !important;
  background-color : #3AB19A !important;
}
.btn-mrex-green.btn-lighten-1:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-lighten-1:focus, .btn-mrex-green.btn-lighten-1:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-lighten-1 {
  border-color : #3AB19A !important;
  color : #3AB19A !important;
}
.btn-outline-mrex-green.btn-outline-lighten-1:hover {
  background-color : #3AB19A !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #3AB19A !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #3AB19A !important;
}

.border-mrex-green.border-lighten-1 {
  border : 1px solid #3AB19A !important;
}

.border-top-mrex-green.border-top-lighten-1 {
  border-top : 1px solid #3AB19A !important;
}

.border-bottom-mrex-green.border-bottom-lighten-1 {
  border-bottom : 1px solid #3AB19A !important;
}

.border-left-mrex-green.border-left-lighten-1 {
  border-left : 1px solid #3AB19A !important;
}

.border-right-mrex-green.border-right-lighten-1 {
  border-right : 1px solid #3AB19A !important;
}

.overlay-mrex-green.overlay-lighten-1 {
  background : #3AB19A;
  /* The Fallback */
  background : rgba(58, 177, 154, 0.8);
}

.mrex-green {
  color : #349E89 !important;
}

.bg-mrex-green {
  background-color : #349E89 !important;
}
.bg-mrex-green .card-header, .bg-mrex-green .card-footer {
  background-color : transparent;
}
.bg-mrex-green.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
  box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
}

.selectboxit.selectboxit-btn.bg-mrex-green {
  background-color : #349E89 !important;
}

.alert-mrex-green {
  border-color : #349E89 !important;
  background-color : #53C6B0;
}

.border-mrex-green {
  border-color : #349E89;
  border : 1px solid;
}

.overlay-mrex-green {
  background : #349E89;
  /* The Fallback */
  background : rgba(52, 158, 137, 0.8);
}

.color-info.mrex-green {
  background-color : #349E89 !important;
}

.btn-mrex-green {
  border-color : #277868 !important;
  background-color : #349E89 !important;
  color : #FFFFFF !important;
}
.btn-mrex-green:hover {
  border-color : #2E8B78 !important;
  background-color : #3AB19A !important;
  color : #FFFFFF !important;
}
.btn-mrex-green:focus, .btn-mrex-green:active {
  border-color : #277868 !important;
  background-color : #216457 !important;
  color : #FFFFFF !important;
}
.btn-mrex-green.btn-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
  box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
}

.btn-outline-mrex-green {
  border : 1px solid;
  border-color : #349E89;
  background-color : transparent;
  color : #349E89;
}
.btn-outline-mrex-green:hover {
  background-color : #349E89;
  color : #FFFFFF !important;
}
.btn-outline-mrex-green.btn-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
  box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
}

input[type='checkbox'].bg-mrex-green + .custom-control-label:before, input[type='radio'].bg-mrex-green + .custom-control-label:before {
  background-color : #349E89 !important;
}

/* .custom-control-label{
        &:before{
          background-color: #ddd !important;
        }
      } */
input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
}

.border-mrex-green {
  border-color : #349E89 !important;
}

.border-top-mrex-green {
  border-top : 1px solid #349E89;
}

.border-bottom-mrex-green {
  border-bottom : 1px solid #349E89;
}

.border-left-mrex-green {
  border-left : 1px solid #349E89;
}

.border-right-mrex-green {
  border-right : 1px solid #349E89;
}

.mrex-green.darken-1 {
  color : #2E8B78 !important;
}

.bg-mrex-green.bg-darken-1 {
  background-color : #2E8B78 !important;
}
.bg-mrex-green.bg-darken-1.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(46, 139, 120, 0.6);
  box-shadow : 0 1px 20px 1px rgba(46, 139, 120, 0.6);
}

.btn-mrex-green.btn-darken-1 {
  border-color : #277868 !important;
  background-color : #2E8B78 !important;
}
.btn-mrex-green.btn-darken-1:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-darken-1:focus, .btn-mrex-green.btn-darken-1:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-darken-1 {
  border-color : #2E8B78 !important;
  color : #2E8B78 !important;
}
.btn-outline-mrex-green.btn-outline-darken-1:hover {
  background-color : #2E8B78 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #2E8B78 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #2E8B78 !important;
}

.border-mrex-green.border-darken-1 {
  border : 1px solid #2E8B78 !important;
}

.border-top-mrex-green.border-top-darken-1 {
  border-top : 1px solid #2E8B78 !important;
}

.border-bottom-mrex-green.border-bottom-darken-1 {
  border-bottom : 1px solid #2E8B78 !important;
}

.border-left-mrex-green.border-left-darken-1 {
  border-left : 1px solid #2E8B78 !important;
}

.border-right-mrex-green.border-right-darken-1 {
  border-right : 1px solid #2E8B78 !important;
}

.overlay-mrex-green.overlay-darken-1 {
  background : #2E8B78;
  /* The Fallback */
  background : rgba(46, 139, 120, 0.8);
}

.mrex-green.darken-2 {
  color : #277868 !important;
}

.bg-mrex-green.bg-darken-2 {
  background-color : #277868 !important;
}
.bg-mrex-green.bg-darken-2.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(39, 120, 104, 0.6);
  box-shadow : 0 1px 20px 1px rgba(39, 120, 104, 0.6);
}

.btn-mrex-green.btn-darken-2 {
  border-color : #277868 !important;
  background-color : #277868 !important;
}
.btn-mrex-green.btn-darken-2:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-darken-2:focus, .btn-mrex-green.btn-darken-2:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-darken-2 {
  border-color : #277868 !important;
  color : #277868 !important;
}
.btn-outline-mrex-green.btn-outline-darken-2:hover {
  background-color : #277868 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #277868 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #277868 !important;
}

.border-mrex-green.border-darken-2 {
  border : 1px solid #277868 !important;
}

.border-top-mrex-green.border-top-darken-2 {
  border-top : 1px solid #277868 !important;
}

.border-bottom-mrex-green.border-bottom-darken-2 {
  border-bottom : 1px solid #277868 !important;
}

.border-left-mrex-green.border-left-darken-2 {
  border-left : 1px solid #277868 !important;
}

.border-right-mrex-green.border-right-darken-2 {
  border-right : 1px solid #277868 !important;
}

.overlay-mrex-green.overlay-darken-2 {
  background : #277868;
  /* The Fallback */
  background : rgba(39, 120, 104, 0.8);
}

.mrex-green.darken-3 {
  color : #216457 !important;
}

.bg-mrex-green.bg-darken-3 {
  background-color : #216457 !important;
}
.bg-mrex-green.bg-darken-3.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(33, 100, 87, 0.6);
  box-shadow : 0 1px 20px 1px rgba(33, 100, 87, 0.6);
}

.btn-mrex-green.btn-darken-3 {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-darken-3:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-darken-3:focus, .btn-mrex-green.btn-darken-3:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-darken-3 {
  border-color : #216457 !important;
  color : #216457 !important;
}
.btn-outline-mrex-green.btn-outline-darken-3:hover {
  background-color : #216457 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #216457 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #216457 !important;
}

.border-mrex-green.border-darken-3 {
  border : 1px solid #216457 !important;
}

.border-top-mrex-green.border-top-darken-3 {
  border-top : 1px solid #216457 !important;
}

.border-bottom-mrex-green.border-bottom-darken-3 {
  border-bottom : 1px solid #216457 !important;
}

.border-left-mrex-green.border-left-darken-3 {
  border-left : 1px solid #216457 !important;
}

.border-right-mrex-green.border-right-darken-3 {
  border-right : 1px solid #216457 !important;
}

.overlay-mrex-green.overlay-darken-3 {
  background : #216457;
  /* The Fallback */
  background : rgba(33, 100, 87, 0.8);
}

.mrex-green.darken-4 {
  color : #1B5146 !important;
}

.bg-mrex-green.bg-darken-4 {
  background-color : #1B5146 !important;
}
.bg-mrex-green.bg-darken-4.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(27, 81, 70, 0.6);
  box-shadow : 0 1px 20px 1px rgba(27, 81, 70, 0.6);
}

.btn-mrex-green.btn-darken-4 {
  border-color : #277868 !important;
  background-color : #1B5146 !important;
}
.btn-mrex-green.btn-darken-4:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-darken-4:focus, .btn-mrex-green.btn-darken-4:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-darken-4 {
  border-color : #1B5146 !important;
  color : #1B5146 !important;
}
.btn-outline-mrex-green.btn-outline-darken-4:hover {
  background-color : #1B5146 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #1B5146 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #1B5146 !important;
}

.border-mrex-green.border-darken-4 {
  border : 1px solid #1B5146 !important;
}

.border-top-mrex-green.border-top-darken-4 {
  border-top : 1px solid #1B5146 !important;
}

.border-bottom-mrex-green.border-bottom-darken-4 {
  border-bottom : 1px solid #1B5146 !important;
}

.border-left-mrex-green.border-left-darken-4 {
  border-left : 1px solid #1B5146 !important;
}

.border-right-mrex-green.border-right-darken-4 {
  border-right : 1px solid #1B5146 !important;
}

.overlay-mrex-green.overlay-darken-4 {
  background : #1B5146;
  /* The Fallback */
  background : rgba(27, 81, 70, 0.8);
}

.mrex-green.accent-1 {
  color : #349E89 !important;
}

.bg-mrex-green.bg-accent-1 {
  background-color : #349E89 !important;
}
.bg-mrex-green.bg-accent-1.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
  box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
}

.btn-mrex-green.btn-accent-1 {
  border-color : #277868 !important;
  background-color : #349E89 !important;
}
.btn-mrex-green.btn-accent-1:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-accent-1:focus, .btn-mrex-green.btn-accent-1:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-accent-1 {
  border-color : #349E89 !important;
  color : #349E89 !important;
}
.btn-outline-mrex-green.btn-outline-accent-1:hover {
  background-color : #349E89 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
}

.border-mrex-green.border-accent-1 {
  border : 1px solid #349E89 !important;
}

.border-top-mrex-green.border-top-accent-1 {
  border-top : 1px solid #349E89 !important;
}

.border-bottom-mrex-green.border-bottom-accent-1 {
  border-bottom : 1px solid #349E89 !important;
}

.border-left-mrex-green.border-left-accent-1 {
  border-left : 1px solid #349E89 !important;
}

.border-right-mrex-green.border-right-accent-1 {
  border-right : 1px solid #349E89 !important;
}

.overlay-mrex-green.overlay-accent-1 {
  background : #349E89;
  /* The Fallback */
  background : rgba(52, 158, 137, 0.8);
}

.mrex-green.accent-2 {
  color : #349E89 !important;
}

.bg-mrex-green.bg-accent-2 {
  background-color : #349E89 !important;
}
.bg-mrex-green.bg-accent-2.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
  box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
}

.btn-mrex-green.btn-accent-2 {
  border-color : #277868 !important;
  background-color : #349E89 !important;
}
.btn-mrex-green.btn-accent-2:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-accent-2:focus, .btn-mrex-green.btn-accent-2:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-accent-2 {
  border-color : #349E89 !important;
  color : #349E89 !important;
}
.btn-outline-mrex-green.btn-outline-accent-2:hover {
  background-color : #349E89 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
}

.border-mrex-green.border-accent-2 {
  border : 1px solid #349E89 !important;
}

.border-top-mrex-green.border-top-accent-2 {
  border-top : 1px solid #349E89 !important;
}

.border-bottom-mrex-green.border-bottom-accent-2 {
  border-bottom : 1px solid #349E89 !important;
}

.border-left-mrex-green.border-left-accent-2 {
  border-left : 1px solid #349E89 !important;
}

.border-right-mrex-green.border-right-accent-2 {
  border-right : 1px solid #349E89 !important;
}

.overlay-mrex-green.overlay-accent-2 {
  background : #349E89;
  /* The Fallback */
  background : rgba(52, 158, 137, 0.8);
}

.mrex-green.accent-3 {
  color : #349E89 !important;
}

.bg-mrex-green.bg-accent-3 {
  background-color : #349E89 !important;
}
.bg-mrex-green.bg-accent-3.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
  box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
}

.btn-mrex-green.btn-accent-3 {
  border-color : #277868 !important;
  background-color : #349E89 !important;
}
.btn-mrex-green.btn-accent-3:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-accent-3:focus, .btn-mrex-green.btn-accent-3:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-accent-3 {
  border-color : #349E89 !important;
  color : #349E89 !important;
}
.btn-outline-mrex-green.btn-outline-accent-3:hover {
  background-color : #349E89 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
}

.border-mrex-green.border-accent-3 {
  border : 1px solid #349E89 !important;
}

.border-top-mrex-green.border-top-accent-3 {
  border-top : 1px solid #349E89 !important;
}

.border-bottom-mrex-green.border-bottom-accent-3 {
  border-bottom : 1px solid #349E89 !important;
}

.border-left-mrex-green.border-left-accent-3 {
  border-left : 1px solid #349E89 !important;
}

.border-right-mrex-green.border-right-accent-3 {
  border-right : 1px solid #349E89 !important;
}

.overlay-mrex-green.overlay-accent-3 {
  background : #349E89;
  /* The Fallback */
  background : rgba(52, 158, 137, 0.8);
}

.mrex-green.accent-4 {
  color : #349E89 !important;
}

.bg-mrex-green.bg-accent-4 {
  background-color : #349E89 !important;
}
.bg-mrex-green.bg-accent-4.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
  box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
}

.btn-mrex-green.btn-accent-4 {
  border-color : #277868 !important;
  background-color : #349E89 !important;
}
.btn-mrex-green.btn-accent-4:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-accent-4:focus, .btn-mrex-green.btn-accent-4:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-accent-4 {
  border-color : #349E89 !important;
  color : #349E89 !important;
}
.btn-outline-mrex-green.btn-outline-accent-4:hover {
  background-color : #349E89 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
}

.border-mrex-green.border-accent-4 {
  border : 1px solid #349E89 !important;
}

.border-top-mrex-green.border-top-accent-4 {
  border-top : 1px solid #349E89 !important;
}

.border-bottom-mrex-green.border-bottom-accent-4 {
  border-bottom : 1px solid #349E89 !important;
}

.border-left-mrex-green.border-left-accent-4 {
  border-left : 1px solid #349E89 !important;
}

.border-right-mrex-green.border-right-accent-4 {
  border-right : 1px solid #349E89 !important;
}

.overlay-mrex-green.overlay-accent-4 {
  background : #349E89;
  /* The Fallback */
  background : rgba(52, 158, 137, 0.8);
}


.mrex-green.lighten-5 {
  color : #7DD4C3 !important;
}

.bg-mrex-green.bg-lighten-5 {
  background-color : #7DD4C3 !important;
}
.bg-mrex-green.bg-lighten-5.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(125, 212, 195, 0.6);
  box-shadow : 0 1px 20px 1px rgba(125, 212, 195, 0.6);
}

.btn-mrex-green.btn-lighten-5 {
  border-color : #277868 !important;
  background-color : #7DD4C3 !important;
}
.btn-mrex-green.btn-lighten-5:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-lighten-5:focus, .btn-mrex-green.btn-lighten-5:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-lighten-5 {
  border-color : #7DD4C3 !important;
  color : #7DD4C3 !important;
}
.btn-outline-mrex-green.btn-outline-lighten-5:hover {
  background-color : #7DD4C3 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #7DD4C3 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #7DD4C3 !important;
}

.border-mrex-green.border-lighten-5 {
  border : 1px solid #7DD4C3 !important;
}

.border-top-mrex-green.border-top-lighten-5 {
  border-top : 1px solid #7DD4C3 !important;
}

.border-bottom-mrex-green.border-bottom-lighten-5 {
  border-bottom : 1px solid #7DD4C3 !important;
}

.border-left-mrex-green.border-left-lighten-5 {
  border-left : 1px solid #7DD4C3 !important;
}

.border-right-mrex-green.border-right-lighten-5 {
  border-right : 1px solid #7DD4C3 !important;
}

.overlay-mrex-green.overlay-lighten-5 {
  background : #7DD4C3;
  /* The Fallback */
  background : rgba(125, 212, 195, 0.8);
}

.mrex-green.lighten-4 {
  color : #6ACEBA !important;
}

.bg-mrex-green.bg-lighten-4 {
  background-color : #6ACEBA !important;
}
.bg-mrex-green.bg-lighten-4.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(106, 206, 186, 0.6);
  box-shadow : 0 1px 20px 1px rgba(106, 206, 186, 0.6);
}

.btn-mrex-green.btn-lighten-4 {
  border-color : #277868 !important;
  background-color : #6ACEBA !important;
}
.btn-mrex-green.btn-lighten-4:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-lighten-4:focus, .btn-mrex-green.btn-lighten-4:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-lighten-4 {
  border-color : #6ACEBA !important;
  color : #6ACEBA !important;
}
.btn-outline-mrex-green.btn-outline-lighten-4:hover {
  background-color : #6ACEBA !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #6ACEBA !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #6ACEBA !important;
}

.border-mrex-green.border-lighten-4 {
  border : 1px solid #6ACEBA !important;
}

.border-top-mrex-green.border-top-lighten-4 {
  border-top : 1px solid #6ACEBA !important;
}

.border-bottom-mrex-green.border-bottom-lighten-4 {
  border-bottom : 1px solid #6ACEBA !important;
}

.border-left-mrex-green.border-left-lighten-4 {
  border-left : 1px solid #6ACEBA !important;
}

.border-right-mrex-green.border-right-lighten-4 {
  border-right : 1px solid #6ACEBA !important;
}

.overlay-mrex-green.overlay-lighten-4 {
  background : #6ACEBA;
  /* The Fallback */
  background : rgba(106, 206, 186, 0.8);
}

.mrex-green.lighten-3 {
  color : #57C8B1 !important;
}

.bg-mrex-green.bg-lighten-3 {
  background-color : #57C8B1 !important;
}
.bg-mrex-green.bg-lighten-3.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(87, 200, 177, 0.6);
  box-shadow : 0 1px 20px 1px rgba(87, 200, 177, 0.6);
}

.btn-mrex-green.btn-lighten-3 {
  border-color : #277868 !important;
  background-color : #57C8B1 !important;
}
.btn-mrex-green.btn-lighten-3:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-lighten-3:focus, .btn-mrex-green.btn-lighten-3:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-lighten-3 {
  border-color : #57C8B1 !important;
  color : #57C8B1 !important;
}
.btn-outline-mrex-green.btn-outline-lighten-3:hover {
  background-color : #57C8B1 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #57C8B1 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #57C8B1 !important;
}

.border-mrex-green.border-lighten-3 {
  border : 1px solid #57C8B1 !important;
}

.border-top-mrex-green.border-top-lighten-3 {
  border-top : 1px solid #57C8B1 !important;
}

.border-bottom-mrex-green.border-bottom-lighten-3 {
  border-bottom : 1px solid #57C8B1 !important;
}

.border-left-mrex-green.border-left-lighten-3 {
  border-left : 1px solid #57C8B1 !important;
}

.border-right-mrex-green.border-right-lighten-3 {
  border-right : 1px solid #57C8B1 !important;
}

.overlay-mrex-green.overlay-lighten-3 {
  background : #57C8B1;
  /* The Fallback */
  background : rgba(87, 200, 177, 0.8);
}

.mrex-green.lighten-2 {
  color : #44C1A8 !important;
}

.bg-mrex-green.bg-lighten-2 {
  background-color : #44C1A8 !important;
}
.bg-mrex-green.bg-lighten-2.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(68, 193, 168, 0.6);
  box-shadow : 0 1px 20px 1px rgba(68, 193, 168, 0.6);
}

.btn-mrex-green.btn-lighten-2 {
  border-color : #277868 !important;
  background-color : #44C1A8 !important;
}
.btn-mrex-green.btn-lighten-2:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-lighten-2:focus, .btn-mrex-green.btn-lighten-2:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-lighten-2 {
  border-color : #44C1A8 !important;
  color : #44C1A8 !important;
}
.btn-outline-mrex-green.btn-outline-lighten-2:hover {
  background-color : #44C1A8 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #44C1A8 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #44C1A8 !important;
}

.border-mrex-green.border-lighten-2 {
  border : 1px solid #44C1A8 !important;
}

.border-top-mrex-green.border-top-lighten-2 {
  border-top : 1px solid #44C1A8 !important;
}

.border-bottom-mrex-green.border-bottom-lighten-2 {
  border-bottom : 1px solid #44C1A8 !important;
}

.border-left-mrex-green.border-left-lighten-2 {
  border-left : 1px solid #44C1A8 !important;
}

.border-right-mrex-green.border-right-lighten-2 {
  border-right : 1px solid #44C1A8 !important;
}

.overlay-mrex-green.overlay-lighten-2 {
  background : #44C1A8;
  /* The Fallback */
  background : rgba(68, 193, 168, 0.8);
}

.mrex-green.lighten-1 {
  color : #3AB19A !important;
}

.bg-mrex-green.bg-lighten-1 {
  background-color : #3AB19A !important;
}
.bg-mrex-green.bg-lighten-1.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(58, 177, 154, 0.6);
  box-shadow : 0 1px 20px 1px rgba(58, 177, 154, 0.6);
}

.btn-mrex-green.btn-lighten-1 {
  border-color : #277868 !important;
  background-color : #3AB19A !important;
}
.btn-mrex-green.btn-lighten-1:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-lighten-1:focus, .btn-mrex-green.btn-lighten-1:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-lighten-1 {
  border-color : #3AB19A !important;
  color : #3AB19A !important;
}
.btn-outline-mrex-green.btn-outline-lighten-1:hover {
  background-color : #3AB19A !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #3AB19A !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #3AB19A !important;
}

.border-mrex-green.border-lighten-1 {
  border : 1px solid #3AB19A !important;
}

.border-top-mrex-green.border-top-lighten-1 {
  border-top : 1px solid #3AB19A !important;
}

.border-bottom-mrex-green.border-bottom-lighten-1 {
  border-bottom : 1px solid #3AB19A !important;
}

.border-left-mrex-green.border-left-lighten-1 {
  border-left : 1px solid #3AB19A !important;
}

.border-right-mrex-green.border-right-lighten-1 {
  border-right : 1px solid #3AB19A !important;
}

.overlay-mrex-green.overlay-lighten-1 {
  background : #3AB19A;
  /* The Fallback */
  background : rgba(58, 177, 154, 0.8);
}

.mrex-green {
  color : #349E89 !important;
}

.bg-mrex-green {
  background-color : #5CB09F !important;
}
.bg-mrex-green .card-header, .bg-mrex-green .card-footer {
  background-color : transparent;
}
.bg-mrex-green.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
  box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
}

.selectboxit.selectboxit-btn.bg-mrex-green {
  background-color : #349E89 !important;
}

.alert-mrex-green {
  border-color : #349E89 !important;
  background-color : #53C6B0 !important;
  color : #081815 !important;
}
.alert-mrex-green .alert-link {
  color : black !important;
}

.border-mrex-green {
  border-color : #349E89;
}

.overlay-mrex-green {
  background : #349E89;
  /* The Fallback */
  background : rgba(52, 158, 137, 0.8);
}

.color-info.mrex-green {
  background-color : #349E89 !important;
}

.btn-mrex-green {
  border-color : #277868 !important;
  background-color : #349E89 !important;
  color : #FFFFFF;
}
.btn-mrex-green:hover {
  border-color : #2E8B78 !important;
  background-color : #3AB19A !important;
  color : #FFFFFF !important;
}
.btn-mrex-green:focus, .btn-mrex-green:active {
  border-color : #277868 !important;
  background-color : #216457 !important;
  color : #FFFFFF !important;
}
.btn-mrex-green.btn-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
  box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
}

.btn-outline-mrex-green {
  border-color : #349E89;
  background-color : transparent;
  color : #349E89;
}
.btn-outline-mrex-green:hover {
  background-color : #349E89;
  color : #FFFFFF !important;
}
.btn-outline-mrex-green.btn-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
  box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
}

input[type='checkbox'].bg-mrex-green + .custom-control-label:before, input[type='radio'].bg-mrex-green + .custom-control-label:before {
  background-color : #349E89 !important;
}

/* .custom-control-label{
        &:before{
          background-color: #ddd !important;
        }
      } */
input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
}

.border-mrex-green {
  border : 1px solid #349E89 !important;
}

.border-top-mrex-green {
  border-top : 1px solid #349E89;
}

.border-bottom-mrex-green {
  border-bottom : 1px solid #349E89;
}

.border-left-mrex-green {
  border-left : 1px solid #349E89;
}

.border-right-mrex-green {
  border-right : 1px solid #349E89;
}

.mrex-green.darken-1 {
  color : #2E8B78 !important;
}

.bg-mrex-green.bg-darken-1 {
  background-color : #2E8B78 !important;
}
.bg-mrex-green.bg-darken-1.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(46, 139, 120, 0.6);
  box-shadow : 0 1px 20px 1px rgba(46, 139, 120, 0.6);
}

.btn-mrex-green.btn-darken-1 {
  border-color : #277868 !important;
  background-color : #2E8B78 !important;
}
.btn-mrex-green.btn-darken-1:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-darken-1:focus, .btn-mrex-green.btn-darken-1:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-darken-1 {
  border-color : #2E8B78 !important;
  color : #2E8B78 !important;
}
.btn-outline-mrex-green.btn-outline-darken-1:hover {
  background-color : #2E8B78 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #2E8B78 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #2E8B78 !important;
}

.border-mrex-green.border-darken-1 {
  border : 1px solid #2E8B78 !important;
}

.border-top-mrex-green.border-top-darken-1 {
  border-top : 1px solid #2E8B78 !important;
}

.border-bottom-mrex-green.border-bottom-darken-1 {
  border-bottom : 1px solid #2E8B78 !important;
}

.border-left-mrex-green.border-left-darken-1 {
  border-left : 1px solid #2E8B78 !important;
}

.border-right-mrex-green.border-right-darken-1 {
  border-right : 1px solid #2E8B78 !important;
}

.overlay-mrex-green.overlay-darken-1 {
  background : #2E8B78;
  /* The Fallback */
  background : rgba(46, 139, 120, 0.8);
}

.mrex-green.darken-2 {
  color : #277868 !important;
}

.bg-mrex-green.bg-darken-2 {
  background-color : #277868 !important;
}
.bg-mrex-green.bg-darken-2.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(39, 120, 104, 0.6);
  box-shadow : 0 1px 20px 1px rgba(39, 120, 104, 0.6);
}

.btn-mrex-green.btn-darken-2 {
  border-color : #277868 !important;
  background-color : #277868 !important;
}
.btn-mrex-green.btn-darken-2:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-darken-2:focus, .btn-mrex-green.btn-darken-2:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-darken-2 {
  border-color : #277868 !important;
  color : #277868 !important;
}
.btn-outline-mrex-green.btn-outline-darken-2:hover {
  background-color : #277868 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #277868 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #277868 !important;
}

.border-mrex-green.border-darken-2 {
  border : 1px solid #277868 !important;
}

.border-top-mrex-green.border-top-darken-2 {
  border-top : 1px solid #277868 !important;
}

.border-bottom-mrex-green.border-bottom-darken-2 {
  border-bottom : 1px solid #277868 !important;
}

.border-left-mrex-green.border-left-darken-2 {
  border-left : 1px solid #277868 !important;
}

.border-right-mrex-green.border-right-darken-2 {
  border-right : 1px solid #277868 !important;
}

.overlay-mrex-green.overlay-darken-2 {
  background : #277868;
  /* The Fallback */
  background : rgba(39, 120, 104, 0.8);
}

.mrex-green.darken-3 {
  color : #216457 !important;
}

.bg-mrex-green.bg-darken-3 {
  background-color : #216457 !important;
}
.bg-mrex-green.bg-darken-3.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(33, 100, 87, 0.6);
  box-shadow : 0 1px 20px 1px rgba(33, 100, 87, 0.6);
}

.btn-mrex-green.btn-darken-3 {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-darken-3:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-darken-3:focus, .btn-mrex-green.btn-darken-3:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-darken-3 {
  border-color : #216457 !important;
  color : #216457 !important;
}
.btn-outline-mrex-green.btn-outline-darken-3:hover {
  background-color : #216457 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #216457 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #216457 !important;
}

.border-mrex-green.border-darken-3 {
  border : 1px solid #216457 !important;
}

.border-top-mrex-green.border-top-darken-3 {
  border-top : 1px solid #216457 !important;
}

.border-bottom-mrex-green.border-bottom-darken-3 {
  border-bottom : 1px solid #216457 !important;
}

.border-left-mrex-green.border-left-darken-3 {
  border-left : 1px solid #216457 !important;
}

.border-right-mrex-green.border-right-darken-3 {
  border-right : 1px solid #216457 !important;
}

.overlay-mrex-green.overlay-darken-3 {
  background : #216457;
  /* The Fallback */
  background : rgba(33, 100, 87, 0.8);
}

.mrex-green.darken-4 {
  color : #1B5146 !important;
}

.bg-mrex-green.bg-darken-4 {
  background-color : #1B5146 !important;
}
.bg-mrex-green.bg-darken-4.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(27, 81, 70, 0.6);
  box-shadow : 0 1px 20px 1px rgba(27, 81, 70, 0.6);
}

.btn-mrex-green.btn-darken-4 {
  border-color : #277868 !important;
  background-color : #1B5146 !important;
}
.btn-mrex-green.btn-darken-4:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-darken-4:focus, .btn-mrex-green.btn-darken-4:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-darken-4 {
  border-color : #1B5146 !important;
  color : #1B5146 !important;
}
.btn-outline-mrex-green.btn-outline-darken-4:hover {
  background-color : #1B5146 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #1B5146 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #1B5146 !important;
}

.border-mrex-green.border-darken-4 {
  border : 1px solid #1B5146 !important;
}

.border-top-mrex-green.border-top-darken-4 {
  border-top : 1px solid #1B5146 !important;
}

.border-bottom-mrex-green.border-bottom-darken-4 {
  border-bottom : 1px solid #1B5146 !important;
}

.border-left-mrex-green.border-left-darken-4 {
  border-left : 1px solid #1B5146 !important;
}

.border-right-mrex-green.border-right-darken-4 {
  border-right : 1px solid #1B5146 !important;
}

.overlay-mrex-green.overlay-darken-4 {
  background : #1B5146;
  /* The Fallback */
  background : rgba(27, 81, 70, 0.8);
}

.mrex-green.accent-1 {
  color : #349E89 !important;
}

.bg-mrex-green.bg-accent-1 {
  background-color : #349E89 !important;
}
.bg-mrex-green.bg-accent-1.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
  box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
}

.btn-mrex-green.btn-accent-1 {
  border-color : #277868 !important;
  background-color : #349E89 !important;
}
.btn-mrex-green.btn-accent-1:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-accent-1:focus, .btn-mrex-green.btn-accent-1:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-accent-1 {
  border-color : #349E89 !important;
  color : #349E89 !important;
}
.btn-outline-mrex-green.btn-outline-accent-1:hover {
  background-color : #349E89 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
}

.border-mrex-green.border-accent-1 {
  border : 1px solid #349E89 !important;
}

.border-top-mrex-green.border-top-accent-1 {
  border-top : 1px solid #349E89 !important;
}

.border-bottom-mrex-green.border-bottom-accent-1 {
  border-bottom : 1px solid #349E89 !important;
}

.border-left-mrex-green.border-left-accent-1 {
  border-left : 1px solid #349E89 !important;
}

.border-right-mrex-green.border-right-accent-1 {
  border-right : 1px solid #349E89 !important;
}

.overlay-mrex-green.overlay-accent-1 {
  background : #349E89;
  /* The Fallback */
  background : rgba(52, 158, 137, 0.8);
}

.mrex-green.accent-2 {
  color : #349E89 !important;
}

.bg-mrex-green.bg-accent-2 {
  background-color : #349E89 !important;
}
.bg-mrex-green.bg-accent-2.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
  box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
}

.btn-mrex-green.btn-accent-2 {
  border-color : #277868 !important;
  background-color : #349E89 !important;
}
.btn-mrex-green.btn-accent-2:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-accent-2:focus, .btn-mrex-green.btn-accent-2:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-accent-2 {
  border-color : #349E89 !important;
  color : #349E89 !important;
}
.btn-outline-mrex-green.btn-outline-accent-2:hover {
  background-color : #349E89 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
}

.border-mrex-green.border-accent-2 {
  border : 1px solid #349E89 !important;
}

.border-top-mrex-green.border-top-accent-2 {
  border-top : 1px solid #349E89 !important;
}

.border-bottom-mrex-green.border-bottom-accent-2 {
  border-bottom : 1px solid #349E89 !important;
}

.border-left-mrex-green.border-left-accent-2 {
  border-left : 1px solid #349E89 !important;
}

.border-right-mrex-green.border-right-accent-2 {
  border-right : 1px solid #349E89 !important;
}

.overlay-mrex-green.overlay-accent-2 {
  background : #349E89;
  /* The Fallback */
  background : rgba(52, 158, 137, 0.8);
}

.mrex-green.accent-3 {
  color : #349E89 !important;
}

.bg-mrex-green.bg-accent-3 {
  background-color : #349E89 !important;
}
.bg-mrex-green.bg-accent-3.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
  box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
}

.btn-mrex-green.btn-accent-3 {
  border-color : #277868 !important;
  background-color : #349E89 !important;
}
.btn-mrex-green.btn-accent-3:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-accent-3:focus, .btn-mrex-green.btn-accent-3:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-accent-3 {
  border-color : #349E89 !important;
  color : #349E89 !important;
}
.btn-outline-mrex-green.btn-outline-accent-3:hover {
  background-color : #349E89 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
}

.border-mrex-green.border-accent-3 {
  border : 1px solid #349E89 !important;
}

.border-top-mrex-green.border-top-accent-3 {
  border-top : 1px solid #349E89 !important;
}

.border-bottom-mrex-green.border-bottom-accent-3 {
  border-bottom : 1px solid #349E89 !important;
}

.border-left-mrex-green.border-left-accent-3 {
  border-left : 1px solid #349E89 !important;
}

.border-right-mrex-green.border-right-accent-3 {
  border-right : 1px solid #349E89 !important;
}

.overlay-mrex-green.overlay-accent-3 {
  background : #349E89;
  /* The Fallback */
  background : rgba(52, 158, 137, 0.8);
}

.mrex-green.accent-4 {
  color : #349E89 !important;
}

.bg-mrex-green.bg-accent-4 {
  background-color : #349E89 !important;
}
.bg-mrex-green.bg-accent-4.bg-glow {
  -webkit-box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
  box-shadow : 0 1px 20px 1px rgba(52, 158, 137, 0.6);
}

.btn-mrex-green.btn-accent-4 {
  border-color : #277868 !important;
  background-color : #349E89 !important;
}
.btn-mrex-green.btn-accent-4:hover {
  border-color : #277868 !important;
  background-color : #216457 !important;
}
.btn-mrex-green.btn-accent-4:focus, .btn-mrex-green.btn-accent-4:active {
  border-color : #216457 !important;
  background-color : #1B5146 !important;
}

.btn-outline-mrex-green.btn-outline-accent-4 {
  border-color : #349E89 !important;
  color : #349E89 !important;
}
.btn-outline-mrex-green.btn-outline-accent-4:hover {
  background-color : #349E89 !important;
}

input:focus ~ .bg-mrex-green {
  -webkit-box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
  box-shadow : 0 0 0 0.075rem #FFFFFF, 0 0 0 0.21rem #349E89 !important;
}

.border-mrex-green.border-accent-4 {
  border : 1px solid #349E89 !important;
}

.border-top-mrex-green.border-top-accent-4 {
  border-top : 1px solid #349E89 !important;
}

.border-bottom-mrex-green.border-bottom-accent-4 {
  border-bottom : 1px solid #349E89 !important;
}

.border-left-mrex-green.border-left-accent-4 {
  border-left : 1px solid #349E89 !important;
}

.border-right-mrex-green.border-right-accent-4 {
  border-right : 1px solid #349E89 !important;
}

.overlay-mrex-green.overlay-accent-4 {
  background : #349E89;
  /* The Fallback */
  background : rgba(52, 158, 137, 0.8);
}

.semi-round {
  border-radius: .25rem !important;
}

.text-align-center {
  text-align: center;
}

.app-main {
  overflow: hidden;
  height: 100%;
  background-color: white;
}

*:focus {
  outline: none;
}

.alert-success {
  border-color: #8BC34A !important;
  background-color: #5CB09F;
}
.no-border {
  border: unset!important;
}