:host {
  line-height: 2em;
  .information-wrapper {
    margin-top: 1em;
    p {
      font-weight: 700;
    }
    span {
      font-weight: 300;
      float: right;
    }
  }

  ::ng-deep {
    .g-chart {
      display: flex;
      justify-content: center;
    }
  }
}
