:host {
    .fields-block {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    a {
        margin-top: 2rem;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: underline;
        display: block;
    }
    .verification-codes {
        text-transform: uppercase;
        font-size: 3rem;
        color: #888;
        letter-spacing: 1.5rem;
        text-align: center;
        line-height: 1.5!important;
    }
}