@import "../../../../assets/scss/variables.scss";

:host {
    .btn-group {
        display: flex;
        flex-direction: row;
        border: 1px solid $color-gray-9;
        box-sizing: border-box;
        border-radius: 4px;
    
        button {
            flex-grow: 1;
            font-size: $font-size-title-sm;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
            &.btn-green {
                border-radius: 4px;
            }
    
            @media screen and (max-width: 540px) {
                font-size: 1rem;
            }

            @media screen and (max-width: 425px) {
               padding: 0.2rem;
            }
        }
    }

    .planName {
        text-transform: capitalize;
    }
}

.cancel-membership-btn {
    font-size: 1rem;
}