@import "../../../../../assets/scss/mixin";

:host-context(.app-tab-controller) {
  flex: 1 100%;
  display: inline-flex;
}

.tab-indicator {
  width: 100%;
  min-height: 24px;
  @include flex-column();
  @include flex-align(space-between, center);
}

::ng-deep {
  .indicator-icon {
    font-size: 15px;
    color: rgb(70, 72, 85);
  }
  .indicator-label {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(70, 72, 85);
  }
  .indicator-icon+.indicator-label {
    margin-top: 4px;
  }

  .active .indicator-icon,
  .active .indicator-label {
    color: rgb(245, 139, 110);
  }
}
