<form [formGroup]="form">

    <h3>{{step}}. {{ "page.signup.personal-info" | translate }}</h3>

    <div class="w-100 fields-block">
        <!-- firstname -->
      
        <div class="floating-label w-100" [class.has-value]="form.get('firstname').value">
            <label>{{ "page.signup.first-name" | translate }}</label>
            <input type="text" class="form-control" formControlName="firstname"/>
        </div>
        <ng-container *ngFor="let error of error_messages.firstname">
            <div class="text-danger small"  *ngIf="form.get('firstname').hasError(error.type) && (form.get('firstname').dirty || form.get('firstname').touched)">
                {{ error.message | translate }}
            </div>
        </ng-container>

        <!-- lastname -->
        <div class="floating-label w-100" [class.has-value]="form.get('lastname').value">
            <label>{{ "page.signup.last-name" | translate }}</label>
            <input type="lastname" class="form-control" formControlName="lastname"/>
        </div>
        <ng-container *ngFor="let error of error_messages.lastname">
            <div class="text-danger small"  *ngIf="form.get('lastname').hasError(error.type) && (form.get('lastname').dirty || form.get('lastname').touched)">
                {{ error.message | translate }}
            </div>
        </ng-container>

        <div class="floating-label w-100">
            <select class="form-select form-control pl-0" [formControlName]="'language'" (change)="onLanguageChange($event)">
                <option [value]="AppLanguageCode.English">{{ 'language.english' | translate }}</option>
                <option [value]="AppLanguageCode.French_CA">{{ 'language.french' | translate }}</option>
            </select>
        </div>

        <div class="floating-label w-100" [class.has-value]="form.get('age').value">
            <select [formControlName]="'age'"  class="form-select form-control pl-0">
                <option value="">{{ "pages.signup.select_age" | translate }}</option>
                <option *ngFor="let age of selectValues; let i = index" [value]="age">
                    {{ age }}
                </option>
            </select>
        </div>

        <!-- Age -->
        <ng-container *ngFor="let error of error_messages.age">
            <div class="text-danger small"  *ngIf="form.get('age').hasError(error.type) && (form.get('age').dirty || form.get('age').touched)">
                {{ error.message | translate }}
            </div>
        </ng-container>
    </div>
</form>
