:host {
	::ng-deep {
		.txt {
			font-family: Arial !important;
			font-style: normal !important;
			text-align: center !important;
			line-height: 28px !important;
		}

		h1 {
			font-weight: bold  !important;
			font-size: 24px !important;
			letter-spacing: 0.05em !important;
			color: #000000;
			margin: 0 !important;
		}

		.message {
			font-weight: normal !important;
			font-size: 18px !important;
			line-height: 21px !important;
			color: #5E5E5E;
		}

		div.content {
			padding: 2em 1em 3em 1em !important;
		}

		div.btn-action {
			position: relative !important;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;

			button {
				border-radius: 5px;
				outline: none;
			}

			.btnOk {
				width: fit-content;
				min-width: 7em !important;
				height: 100%;
				background: #5CB09F;
				font-size: 1rem !important;
				color: white;
				text-align: center;
				outline: none;
			}

			.btnCancel {
				text-align: center;
				font-family: Arial !important;
				font-size: 14px !important;
				line-height: 16px !important;
				background-color: white;
				color: #000000;
				opacity: 0.6;
				border: none;
			}
		}
	}
}
