:host {

	font-family: Arial;
	font-style: normal;
	font-weight: normal;

	.notifications {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1000;
		width: 100vw;
		max-height: 33.25rem;
		overflow-y: auto;

		.notification {
			width: 100%;
			height: 6.65rem;
			padding: 0.7rem 1.28rem;
			overflow: hidden;
			background-color: white;
			border-bottom: 0.1rem solid #DDDDDD;
		}

		.header {

			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			height: 1.4rem;
			margin-bottom: 0.57rem !important;

			.mrex-alert {
				font-size: 0.87rem;
				line-height: 160%;
				text-align: center;
				color: #000000;

				span {
					margin-left: 0.85rem !important;
				}
			}

			.close {
				width: 1rem;
				height: 1rem;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: -0.3rem !important;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}

		.contents {
			height: 3.5rem;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			margin: 0;
			padding: 0;

			.image {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 0.71rem !important;

				img {
					border-radius: 0.28rem;
					width: 3.4rem;
					height: 3.4rem;
					object-fit: contain;
				}
			}

			.title-msg {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				font-size: 0.87rem;
				line-height: 160%;
				color: black;

				.msg {
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
				}
			}
		}

	}

}
